.about {
  grid-area: 2/2 / span 7 / span 8;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      $color-blue-light 0%,
      rgba($color-blue-dark, 0.9) 55%,
      transparent 90%
    )
    1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: max(7.2rem, min(6.6vw, 8.2rem));
    @include font-hollow;
    margin: 0;

    @media screen and (max-width: 1200px) {
      font-size: max(2.8rem, min(7vw, 7.8rem));
    }

    @media screen and (max-width: 900px) {
      font-size: max(2.8rem, min(7.6vw, 7.2rem));
    }
  }

  &__job {
    margin: 0 0 5rem 0;
    font-size: max(1.2rem, min(2.8vw, 3.2rem));
  }

  &__content {
    width: 40rem;
    text-align: center;

    @media screen and (max-width: 600px) {
      width: 65vmin;
      font-size: max(1.2rem, 4vmin);
    }
  }
}
