.contact {
  z-index: -5;
  height: 100vh;
  min-height: 36rem;
  width: 100%;
  font-size: 20rem;
  background-image: linear-gradient(to bottom, $color-shadow, $color-black 40%);
  @include flexCenter(column);

  &__wrapper {
    height: inherit;
    position: fixed;
    width: inherit;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 0;
    display: grid;
    gap: 1.5rem;

    grid-template-rows: 1fr repeat(4, 12rem) 1fr;
    grid-template-columns:
      1fr minmax(4rem, 12rem) repeat(6, 12rem) minmax(4rem, 12rem)
      1fr;

    @media screen and (max-width: 1200px) {
      grid-template-columns:
        1fr repeat(8, minmax(4rem, 12rem))
        1fr;
    }
  }

  &__header {
    font-size: 6.4rem;
    grid-area: 2/2 / span 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 9ch;
    z-index: -1;
  }

  &__container {
    grid-area: 4/5 / span 2 / span 5;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (max-width: 1200px) {
      grid-area: 4/4 / span 2 / span 6;
    }
  }

  &__content {
    text-align: left;
    margin: 0;
  }

  &__btns {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__btn {
    margin: 0;
    @include flexCenter(row);
    text-decoration: none;
    background-color: $color-black;
    color: $color-white;
    height: 5rem;
    width: 28rem;
    border: 0.1rem solid $color-white;
    align-self: flex-end;

    &:hover {
      & > .contact__btn-text::after {
        width: 100%;
      }
    }
  }

  &__btn-text {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 0.25em;
      width: 0;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      background-color: $color-white;
      transition: all 0.2s ease-in-out;
    }
  }
}
