.nav {
  grid-area: 1/1 / span 1 / -1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media screen and (max-width: 1200px) {
    grid-area: 1/1 / span 1 / -1;
  }

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: all 0.1s;

    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
  }

  &__title {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0 0.75rem;
    transition: all 0.1s;
    text-decoration: none;

    &:hover {
      transform: translateY(-0.2em);
      text-shadow: rgba($color-blue-dark, 0.6) 0.2rem 0.6rem;
    }

    @media screen and (max-width: 900px) {
      font-size: min(max(1.2rem, 2vw), 1.8rem);
      padding: 0 0.5rem;
    }
  }
}

.nav-side {
  width: 5rem;
  height: 5rem;
  background: $color-black;
  position: fixed;
  top: 0.5rem;
  right: 1.7rem;
  opacity: 0;
  z-index: 20;
  animation: nav-side 0.4s ease-in-out forwards;

  @keyframes nav-side {
    to {
      opacity: 1;
      top: 1.7rem;
    }
  }

  @media screen and (max-width: 600px) {
    width: 4rem;
    height: 4rem;
  }

  &__input {
    display: none;
    &:checked ~ .nav-side__list {
      opacity: 1;
      top: -1.7rem;
      right: 0;
    }

    &:checked ~ .nav-side__label > span {
      background-color: transparent;
      &::before {
        transform: rotateZ(-45deg);
        top: 0;
      }

      &::after {
        transform: rotateZ(45deg);
        top: 0;
      }
    }
  }

  &__label {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-black, 0.6;
    cursor: pointer;
    z-index: 21;

    & > span {
      @include absCenter;
      content: "";
      height: 0.4rem;
      width: 3rem;
      background: $color-white;
      transition: all 0.3s;

      @media screen and (max-width: 600px) {
        height: 0.3rem;
        width: 2.5rem;
      }

      &::before,
      &::after {
        position: absolute;
        height: inherit;
        width: 3rem;
        background: $color-white;
        content: "";
        transition: all 0.3s;

        @media screen and (max-width: 600px) {
          height: 0.3rem;
          width: 2.5rem;
        }
      }

      &::before {
        top: -1rem;

        @media screen and (max-width: 600px) {
          top: -0.8rem;
        }
      }

      &::after {
        top: 1rem;
        left: 0;

        @media screen and (max-width: 600px) {
          top: 0.8rem;
        }
      }
    }
  }

  &__list {
    padding: 4rem 1.6rem;
    margin: 0;
    position: absolute;
    top: 7rem;
    right: 0rem;
    list-style: none;
    z-index: 19;
    opacity: 0;
    transition: all 0.3s;
    background: $color-black;
    // box-shadow: 0px 10px 0px 0px $color-shadow;
  }

  &__item {
    text-decoration: none;
    width: 20rem;
    display: flex;
    color: $color-white;

    &:hover {
      & > *::after {
        width: 100%;
      }
    }
  }

  &__text {
    margin: 0;
    position: relative;
    padding-top: 0.6rem;
    &::after {
      content: "";
      position: absolute;
      height: 0.15em;
      width: 0%;
      bottom: 0.05em;
      left: 0;
      transform: translateY(100%);
      background-color: $color-white;
      transition: all 0.2s ease-in-out;
    }
  }
}
