@keyframes logo-tl {
  100% {
    width: 5.5rem;
  }
}

@keyframes logo-tr {
  100% {
    width: 9.5rem;
  }
}

@keyframes logo-side {
  100% {
    height: 17rem;
  }
}

@keyframes logo-b {
  100% {
    width: 7rem;
  }
}

@keyframes logo-jt {
  100% {
    height: 16rem;
  }
}

@keyframes logo-lt {
  100% {
    height: 12rem;
  }
}

@keyframes logo-jlb {
  100% {
    width: 2.5rem;
  }
}

@keyframes logo-end {
  100% {
    transform: scale(0);
  }
}

@keyframes nav-side {
  to {
    opacity: 1;
    top: 1.7rem;
  }
}
