@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: center;
}

@mixin font-hollow {
  color: transparent;

  @supports (-webkit-text-stroke: 0.015em $color-blue-light) {
    -webkit-text-stroke: 0.015em $color-blue-light;
  }

  @supports not (-webkit-text-stroke: 0.015em $color-blue-light) {
    color: $color-blue-light;
  }
}
