@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: center;
}

@mixin font-hollow {
  color: transparent;
  -webkit-text-stroke: 0.015em $color-blue-light;
}