$color-white: #e9e8e2;
$color-grey-light: rgb(58, 60, 63);
$color-grey: #282931;
$color-black: #0f1316;
$color-shadow: #101010;

$color-orange: #793228;
$color-blue-light: #06a3e0;
$color-blue-dark: #234a9e;
