.btn-next {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
  display: table;

  &:hover,
  &:focus {
    & .btn-next__link {
      text-decoration: underline $color-white 0.2em;
      padding: 0.8em 2.9em;
      background-color: rgba($color-black, 0.6);
    }
  }

  &:hover .btn-next__arrow,
  &:focus .btn-next__arrow {
    height: 8rem;

    &::after,
    &::before {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &__link {
    color: $color-white;
    background-color: rgba($color-black, 0);
    text-decoration: underline rgba($color-white, 0) 0.2em;
    height: inherit;
    width: 100%;
    padding: 0.8em 2.4em;
    border: 0.1rem solid;
    border-image-width: 0;
    position: relative;
    transition: all 0.2s;
    display: table-cell;
    position: relative;

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }

  &__arrow {
    background-color: $color-white;
    height: 0;
    width: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s;

    &::after,
    &::before {
      content: "";
      width: 1px;
      height: 4rem;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 3;
      transform-origin: bottom;
      transform: rotate(0);
      transition: all 0.3s 0.2s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
