.btn-next {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
  // display: table;

  &:hover,
  &:focus {
    & .btn-next__link {
      width: 42rem;
      background-color: rgba($color-black, 0.6);

      @media screen and (max-width: 600px) {
        width: 32rem;
      }

      & > *::after {
        width: 100%;
      }
    }
  }

  &:hover .btn-next__arrow,
  &:focus .btn-next__arrow {
    height: 8rem;

    &::after,
    &::before {
      visibility: visible;
      opacity: 1;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &__link {
    color: $color-white;
    background-color: rgba($color-black, 0);
    height: 6rem;
    width: 35rem;
    @include flexCenter(row);
    border: 0.1rem solid;
    position: relative;
    transition: all 0.2s;
    text-decoration: none;

    @media screen and (max-width: 600px) {
      height: 4.8rem;
      width: 27rem;
    }
  }

  &__text {
    position: relative;
    font-size: 2.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      height: 0.2em;
      width: 0;
      bottom: 0.1rem;
      left: 0;
      transform: translateY(100%);
      background-color: $color-white;
      transition: all 0.2s ease-in-out;
    }
  }

  &__arrow {
    background-color: $color-white;
    height: 0;
    width: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s;

    &::after,
    &::before {
      content: "";
      width: 1px;
      height: 4rem;
      background-color: $color-white;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 3;
      transform-origin: bottom;
      transform: rotate(0);
      transition: all 0.3s 0.2s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
