@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Syncopate:wght@400;700&display=swap");
* *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  padding: 0 8rem;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(20, 12rem);
  grid-auto-flow: column;
  grid-template-columns: minmax(2rem, auto) minmax(4rem, 12rem) repeat(6, 12rem) minmax(4rem, 12rem) minmax(2rem, auto);
  background-color: #12171a;
  min-height: 100vh;
  gap: 1.5rem;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .main {
    padding: 0 6rem;
    grid-template-columns: minmax(0, 1fr) minmax(4rem, 9rem) repeat(6, 9rem) minmax(4rem, 9rem) minmax(0, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .main {
    padding: 0 0;
    grid-template-columns: minmax(0, 1fr) minmax(2rem, 9rem) repeat(6, minmax(4rem, 9rem)) minmax(2rem, 9rem) minmax(0, 1fr);
  }
}

.bg {
  background-image: linear-gradient(to bottom, #793228 0%, rgba(40, 41, 49, 0.3) 33.3%, rgba(40, 41, 49, 0.3) 66.6%, #793228 100%);
  grid-area: 1/3/-1/span 6;
  box-shadow: 0 0 25px 5px #101010;
}

.font-wide {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #e9e8e2;
  letter-spacing: -0.05em;
}

.font-sub {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: #e9e8e2;
  font-size: 3.2rem;
  letter-spacing: 0.6em;
}

.font-content {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
  color: #e9e8e2;
}

.btn-next {
  background-color: transparent;
  border: none;
  margin-top: 2rem;
  transition: all 0.2s;
}
.btn-next:hover .btn-next__link {
  text-decoration: underline #e9e8e2 0.2em;
  padding: 0.8em 2.8em;
  background-color: rgba(18, 23, 26, 0.4);
}
.btn-next:hover .btn-next__arrow {
  height: 8rem;
}
.btn-next:hover .btn-next__arrow::after, .btn-next:hover .btn-next__arrow::before {
  visibility: visible;
  opacity: 1;
}
.btn-next:hover .btn-next__arrow::after {
  transform: rotate(45deg);
}
.btn-next:hover .btn-next__arrow::before {
  transform: rotate(-45deg);
}
.btn-next__link {
  color: #e9e8e2;
  background-color: rgba(18, 23, 26, 0);
  text-decoration: underline rgba(233, 232, 226, 0) 0.2em;
  height: inherit;
  width: 100%;
  padding: 0.8em 2.4em;
  border: 0.1rem solid;
  border-image-width: 0;
  position: relative;
  transition: all 0.2s;
}
@media screen and (max-width: 600px) {
  .btn-next__link {
    font-size: 4vmin;
  }
}
.btn-next__arrow {
  background-color: #e9e8e2;
  height: 0;
  width: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.2s;
}
.btn-next__arrow::after, .btn-next__arrow::before {
  content: "";
  width: 1px;
  height: 4rem;
  background-color: #e9e8e2;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform-origin: bottom;
  transform: rotate(0);
  transition: all 0.3s 0.2s;
  visibility: hidden;
  opacity: 0;
}

.nav {
  grid-area: 1/4/span 1/span 4;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 1200px) {
  .nav {
    grid-area: 1/3/span 1/span 6;
  }
}
.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  transform: all 0.1s;
}
@media screen and (max-width: 1200px) {
  .nav__bar {
    justify-content: center;
  }
}
.nav__title {
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0 0.75rem;
  transition: all 0.1s;
  text-decoration: none;
}
.nav__title:hover {
  transform: translateY(-0.1em);
  text-shadow: rgba(35, 74, 158, 0.6) 0.1em 0.3em;
}
@media screen and (max-width: 1200px) {
  .nav__title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .nav__title {
    font-size: 1.2rem;
  }
}

.about {
  grid-area: 2/2/span 7/span 8;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to bottom, #02b3f7 0%, rgba(35, 74, 158, 0.5) 35%, transparent 100%) 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__name {
  font-size: 8.6rem;
  color: transparent;
  -webkit-text-stroke: 0.015em #02b3f7;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .about__name {
    font-size: 8vmin;
  }
}
.about__job {
  margin: 0 0 5rem 0;
}
@media screen and (max-width: 1200px) {
  .about__job {
    font-size: 3vmin;
  }
}
.about__content {
  width: 40rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .about__content {
    width: 65vmin;
    font-size: 4vmin;
  }
}

.exp {
  grid-area: 13/2/span 7/span 8;
  background-color: yellow;
}

/*# sourceMappingURL=App.css.map */
